
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    margin: 0px;
    /* overflow: hidden; */
    background-color: rgb(99, 99, 99);
}
.formRow {
    display: flex;
}

#leftWeb {
    position: relative;
    width: 700px;
    height: 990px;
    background-position: center;
    background-image: url(pxfuel.jpg);
    background-size: cover;
}

#ufcLogo {
    width: 200px;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.halfWeb {
    margin-left: 40px;
    position: relative;
    top: 50px;
    height:fit-content;

}


input {
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    height: 25px;
    width: 200px;
    background-color: rgb(99, 99, 99);
    color: white;
}

::placeholder {
    color: white;
}

input:focus {
    background-color: rgb(171, 208, 224);
}
input:invalid {
    box-shadow: 0 0 5px 1px red;

}
input:valid {
    box-shadow:0 0 5px 1 px rgb(72, 161, 72);
}


form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

label {
    padding: 3px;
}

.formCol {
    padding: 10px;
    margin: 10px
}

#submitBut {
    background-color: rgb(58, 61, 58);
    color:white;
    width: 80px;
    height: 40px;
    position: relative;
    margin-top: 15px;
    /* left: 37px; */
    border: none;
    font-weight: bold;
    border-radius: 3px;;
}

